<div id="main-content">
  <h1><strong> About Us</strong></h1>
  <div> We at square63 have created this movie management system to help users:</div>
  <ul>
    <li>1. View latest movies.</li>
    <li>2. View actors profile.</li>
    <li>3. Rate movies on the basis of their liking after signing in.</li>
  </ul>
</div>
