<li id="movie">
  <%= link_to admin_movies_path do %>
    <i class="fa fa-film" aria-hidden="true"></i> Movies
  <% end %>
</li>

<li id="movie">
  <%= link_to admin_actors_path do %>
    <i class="fa fa-user-circle" aria-hidden="true"></i> Actors
  <% end %>
</li>

<li id="movie">
  <%= link_to admin_users_path do %>
    <i class="fa fa-user" aria-hidden="true"></i> Users
  <% end %>
</li>

<li id="movie">
  <%= link_to reports_path do %>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Reports
  <% end %>
</li>
