<li id="movie">
  <%= link_to movies_path do %>
    <i class="fa fa-film" aria-hidden="true"></i> Movies
  <% end %>
</li>

<li id="actor">
  <%= link_to actors_path do %>
    <i class="fa fa-user-circle" aria-hidden="true"></i> Actors
  <% end %>
</li>
