<div class="container" id="main-content">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <%= image_tag setActorAvatarURL(@actor), class: "profile" %>
      </div>
    </div>
    <div class="row" class="form-control" id="actor-description">
      <div class="col-sm-12 col-md-12">
        <h1>Name: <%= @actor.name %></h1>

        <p>
          <strong>Date Of Birth:</strong>
          <%= @actor.date_of_birth %>
        </p>

        <p>
          <strong>Bio:</strong>
          <%= @actor.bio.html_safe %>
        </p>
      </div>
    </div>
</div>
