<div class="col-sm-3 single-post-card">
  <div class="card">
    <%= link_to movie_path(movie.id) do %>
      <% if movie.posters.present? %>
        <%= image_tag movie.posters.first.try(:avatar).try(:url), class: "card-img-top poster" %>
      <% else %>
        <img alt="Rails" src="/assets/default.jpeg" class= "card-img-top poster"  />
      <% end %>
    <% end %>
    <div class="card-block">
      <h4 class="card-text">
        <%= link_to truncate(movie.name, length: 60), movie_path(movie.id) %>
      </h4>
    </div>
  </div>
</div>
