<div class="col-sm-3 single-post-card">
  <div class="card">
    <%= link_to movie_path(movie) do %>
      <%= image_tag set_poster_avatar_URL(movie), class: "card-img-top poster" %>
    <% end %>
    <div class="card-block">
      <h4 class="card-text">
        <%= link_to truncate(movie.name, length: 60), movie_path(movie) %>
      </h4>
    </div>
  </div>
</div>
