<li id="movie">
  <%= link_to admin_movies_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Movies
  <% end %>
</li>

<li id="study">
  <%= link_to admin_actors_path do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Actors
  <% end %>
</li>
