* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.form-control {
  background-color: $backgroundColor;
  color: $navbarColor;
}

.row {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  #id {
    align: center;
  }
}

#col {
  float: none;
  margin: 0 auto;
}

.review_title {
  margin: 0 0 20px 0;
}

.reviews {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-rating {
    padding-bottom: 8px;
    display: inline-block;
    overflow: hidden;
    img {
      float: left;
      display: block;
      width: 16px;
      height: 16px;
    }
  }
}

#star-rating {
  padding-bottom: 8px;
  display: inline-block;
  overflow: hidden;
  img {
    float: left;
    display: block;
    width: 16px;
    height: 16px;
  }
}

.users {
  border-bottom: 1px solid #EAEAEA;
}
