<%= link_to('Add Actors', new_admin_actor_path) %>

<h1>All Actors</h1>
<div id="main-content">
  <% @actors.each do |actor| %>
    <%= render partial: "actors/actor", locals: { actor: actor} %>
  <% end %>
</div>
