<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-2">
      <ul id="links-list">
        <% if user_signed_in? && current_user.admin == true %>
          <%= render 'home/side_menu/admin_links' %>
        <% else %>
          <%= render 'home/side_menu/user_links' %>
        <% end %>
      </ul>
    </div>

    <div id="main-content" class="col-sm-10">
      <%= render @movies %>
    </div>

  </div>
</div>
