<tr>
  <td><strong><%= link_to movie.name, movie_path(movie) %></strong></td>
  <td><%= link_to "Edit", edit_admin_movie_path(movie) %></td>
  <td><%= link_to 'Delete', admin_movie_path(movie), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>
