<div class="reviews">
  <div class="star-rating" data-score= <%= review.rating %> ></div>
  <p><%= review.comment %></p>
  <%= set_edit_link_for_review(review) %>
  <%= set_delete_link_for_review(review) %>
</div>
