<div class="reviews">
  <div class="star-rating" data-score= <%= review.rating %> ></div>
  <p><%= review.comment %></p>
  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>
      <%= link_to 'Edit', edit_movie_review_path(@movie, review) %> |
    <% end %>
    <% if current_user.admin || review.user_id == current_user.id %>
      <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
</div>
