<h1><strong>All Reports</strong></h1>
<div id="main-content" class="col-sm-11 col-sm-offset-1">
  <table class="table table-striped table-bordered">
    <thead>
      <th><strong>Report</strong></th>
      <th><strong>View Review</strong></th>
      <th><strong>Delete Report</strong></th>
      <th><strong>Delete Review</strong></th>
    </thead>
    <tbody>
      <%= render @reports %>
    </tbody>
  </table>
</div>

<div class="col-sm-11 col-sm-offset-1">
  <%= paginate @reports %><br/>
</div>
