<footer class="footer collapse navbar-collapse navbar-right" id="navbar-collapsible-content">
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Contact Us", static_pages_contact_us_path %></li>
      <li><%= link_to "Terms of Use", static_pages_terms_of_use_path %></li>
    </ul>
  </div>
</footer>
